<web-app  version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
        <param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/conf/binovel-context.xml,
		<!-- 	/WEB-INF/conf/spring-security.xml -->
		</param-value>		
    </context-param>
    
 <!-- Spring 配置 等到第二期在做 -->
 <!--  
  	<filter>  
        <filter-name>springSecurityFilterChain</filter-name>  
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>  
    </filter>  
  
    <filter-mapping>  
        <filter-name>springSecurityFilterChain</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping>  
  	
--> 
<!-- 编码问题 -->
	<filter>  
      <filter-name>CharacterEncodingFilter</filter-name>  
      <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
      <init-param>  
          <param-name>encoding</param-name>  
          <param-value>GBK</param-value>  
      </init-param>
       <init-param>  
           <param-name>forceEncoding</param-name>  
           <param-value>true</param-value>  
       </init-param>        
    </filter>  
    <filter-mapping>  
     <filter-name>CharacterEncodingFilter</filter-name>  
     <url-pattern>*</url-pattern>  
    </filter-mapping> 
 <!-- 全局配置文件路径 -->
	<env-entry>
		<env-entry-name>BnovelConfig</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/app/binovel/conf/Bnovel.properties</env-entry-value>
	</env-entry>


   <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
    	<listener-class>com.binovel.listener.SystemInitListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
			/WEB-INF/conf/binovel-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>	
    </servlet>
    
     <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
  
</web-app>
